@import url("https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap");

:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-orange: #ee9972;
  --secondary-beige: #fbdabb;
  --secondary-gray: #edefee;
  --secondary-black: #333333;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  color: var(--primary-yellow);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: "Karla", "Markazi Text" "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1240px;
  margin: auto;
}
.btn {
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 16px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--primary-yellow);
}
